<!--The content below is only a placeholder and can be replaced.-->
<header class="container-fluid bg-dark text-light py-1">
  <h4 class="text-center font-weight-bold">
    Welcome to S.O.L.I.D.
  </h4>
  <h6 class="text-center font-italic">{{ pageTitle }}!</h6>
</header>

<section class="container">
  <section class="row justify-content-center" style="height:100px;">
    <div class="col-md-1 align-self-center">
      <mn-ColorCombo style="width:100%;"></mn-ColorCombo>
    </div>
  </section>
</section>

<hr />

<section id="canvas-section" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 p-1">
      <mn-ColorListView></mn-ColorListView>
    </div>
    <div class="col-md-6 p-1">
      <mn-ImageView></mn-ImageView>
    </div>
  </div>
</section>

<footer class="container">
  <div class="text-center font-weight-bold">Copyright 2018 Atif Malik</div>
</footer>


