<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block" style="float:left">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle *ngIf='colorItems && colorItems.length'>
        Select a Color
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor='let citem of colorItems'>
          <button (click)='selectColor(citem)' class="dropdown-item">{{citem.text}}</button>
        </div>
      </div>
    </div>
    <div><span>Selected Color: {{selectedColor}}</span></div>
  </div>
</div>
